---
import Intro from '../components/Intro.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Intro id="intro"/>
	</main>
</Layout>

<style>
</style>
