---


---

<div class="menu">
	<ul>
		<li>opt 1</li>
		<li>opt 2</li>
		<li>opt 3</li>
	</ul>
</div>

<style>
	.menu {
		position: fixed;
		top: 0;
		right: 0;
		width: 150px;
		height: 100%;
		background-color: aquamarine;
	}
</style>